      body {
            font-family: "Crimson Text", Garamond, "Times New Roman", serif;
            background-color: rgb(250, 243, 221);
            font-size: 35px;
            color: rgb(94, 100, 114);
        }
        a:link {
            color: rgb(94, 100, 114);
        }
        a:visited {
            color: rgb(174, 217, 224);
        }
        a:hover {
            background-color: rgb(250, 243, 221);
        }
        #titlediv {
            border-bottom: 1px solid rgb(94, 100, 114);
            background-color: rgb(255, 166, 158);
            background-image: url(https://live.staticflickr.com/65535/50064617341_a280817b91_w.jpg);
            margin-right: -20px;
            margin-left: -20px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size:39px;
        }
        #megadiv {
            position: absolute;
            padding-left: 7px;
            padding-right: 7px;
            margin-top: -29px;
        }
        #title {
            text-align: center;
        }
        #vicino {
            margin-top: -15px;
        }
        #psmall {
            font-size: 20px;
        }
        #div2 {
            width: 28%;
            float: right;
            border: 1px solid rgb(94, 100, 114);
            background-color: rgb(255, 166, 158);
            padding-left: 7px;
            padding-right: 7px;
            background-image: url(https://live.staticflickr.com/65535/50064617341_a280817b91_w.jpg);
            font-size: 30px;
        }
        #piccolo {
            border-top: 1px solid rgb(94, 100, 114);
            background-color: rgb(255, 166, 158);
            margin-right: -20px;
            margin-left: -20px;
            text-align: right;
            padding-bottom: 20px;
            background-image: url(https://live.staticflickr.com/65535/50064617341_a280817b91_w.jpg);
        }
       #img {
            float: left;
            margin-right: 7px;
       }
       #img2 {
            float: right;
            margin-left: 7px;
       }
       .rubrica {
            border: 3px solid rgb(94, 100, 114);
            height: 270px;
            overflow: auto;
            background-color: rgb(174, 217, 224);
            margin-bottom: 20px;
        }
        h4 {
            background-color: rgb(184, 242, 230);
            text-align: center;
            border: 1px solid rgb(94, 100, 114);
            margin: 5px;
            position: relative;
            width: 98%;
        }
